# 0G Mainnet for final HackQuest proof
NEXT_PUBLIC_0G_RPC_URL=https://evmrpc.0g.ai
NEXT_PUBLIC_0G_CHAIN_ID=16661
NEXT_PUBLIC_0G_EXPLORER_URL=https://chainscan.0g.ai
OG_MAINNET_RPC_URL=https://evmrpc.0g.ai
OG_MAINNET_CHAIN_ID=16661
OG_MAINNET_EXPLORER_URL=https://chainscan.0g.ai

NEXT_PUBLIC_0G_STORAGE_INDEXER_URL=https://indexer-storage-turbo.0g.ai
NEXT_PUBLIC_0G_STORAGE_RPC_URL=https://evmrpc.0g.ai
NEXT_PUBLIC_0G_COMPUTE_ROUTER_URL=
NEXT_PUBLIC_0G_COMPUTE_MODEL=auto

# Server-side keys. Never commit real values.
DEPLOYER_PRIVATE_KEY=
0G_STORAGE_PRIVATE_KEY=
0G_COMPUTE_API_KEY=

# Deployed Kavro contracts on 0G Mainnet
NEXT_PUBLIC_KAVRO_DEAL_ROOM_ADDRESS=0xbc0d9C0bEe1f914D5b41A250838f3A036F39f669
NEXT_PUBLIC_KAVRO_AGENT_REGISTRY_ADDRESS=0x2E54CCA69b767A0Ca50906E5F11a58ae437aC3b4
NEXT_PUBLIC_KAVRO_AGENT_ID_ADDRESS=0xF4eB358b4110afe87E2fbA6a16AB98DeF0b77d56
NEXT_PUBLIC_IDENTITY_REGISTRY_ADDRESS=0x74Ab9190AB863cF9C430f99CA53ca5599FBD9D77
